/* Variables
---------------------------------------------------------------------------------------------------- */

/* Colors */

$color-primary: #406174;
$color-secondary: #82a28a;
$color-tertiary: #f7f7f7;

$black: #000;
$white: #fff;
$grey-main: #333;
$grey-alt: #aaa;

/* Typography */

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Open Sans Condensed', sans-serif;

/* Misc. */

