/* Large Tablet / Small Desktop Styles
---------------------------------------------------------------------------------------------------- */

@media (min-width: 1024px) {
    
    /* Containers & General Styles
    --------------------------------------------- */
    
    body {
        font-size: 1.8rem;
    }
    
    .site-inner,
    .wrap {
        width: calc(100% - (4 * var(--odc-spacer-md)));
    }
    
    .alignright {
        float: right;
        margin: 0 0 var(--odc-spacer-md) var(--odc-spacer-md);
    }
    
    .alignleft {
        float: left;
        margin: 0 var(--odc-spacer-md) var(--odc-spacer-md) 0;
    }
    
    .alignwide {
        margin-left: -75px;
        margin-right: -75px;
        max-width: 1300px;
        margin-bottom: var(--odc-spacer-md);
    }
    
    .wp-block-image.alignwide {
        text-align: center;
    }

    /* Header
    --------------------------------------------- */
    
    .top-bar {
        
        font-size: 1.6rem;
        padding: 10px 0;
    }
    
    .site-header {
        padding: var(--odc-spacer-md) 0;
    }
    
    .menu-toggle,
    .mobile-nav {
        display: none;
    }
    
    .nav-primary {
        display: block;
        flex: 1 1 auto;
        
        .wrap {
            width: 100%;
        }
        
        .genesis-nav-menu {
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: right;

            > li {
                position: relative;
                display: inline-block;
            }
            
            a {
                display: block;
                
                font-size: 1.8rem;
                text-align: center;
                padding: 10px var(--odc-spacer-sm);
                color: var(--odc-primary);
                font-family: var(--odc-font-secondary);
                
                &:hover,
                &:focus {
                    color: var(--odc-secondary);
                }
            }
            
            > li:first-of-type > a {
                padding-left: 0;
            }

            > li:last-of-type > a {
                padding-right: 0;
            }
            
             .sub-menu {
                position: absolute;
                display: none;
                top: 100%;
                left: 0;
                width: 200px;
                background: var(--odc-white);
                box-shadow: 0px 10px 15px rgba(0,0,0,.2);
                z-index: 1000; /* Above Everything */

                li {
                    display: block;
                }

                a {
                    padding: 10px 20px;
                    text-align: left;
                }

                .sub-menu {
                    display: none;
                    top: 0;
                    left: 100%;
                }
            }

            li:hover > .sub-menu,
            li:focus-within > .sub-menu {
                display: block;
            }
        }

    }
    
    .admin-bar .site-header--sticky {
        top: 32px;
    }
    
    /* Body
    --------------------------------------------- */
    
    .content-sidebar,
    .sidebar-content {
        
        .content-sidebar-wrap {
            display: flex;
            justify-content: space-between;
        }
        
        .content {
            width: calc(70% - (2 * var(--odc-spacer-sm)));
            margin: 0;
            max-width: unset;
        }
        
        .sidebar {
            width: calc(30% - (2 * var(--odc-spacer-sm)));
        }
    }
    
    .sidebar-content .content-sidebar-wrap {
        flex-direction: row-reverse;
    }
    
    
    .full-width-content {
        
        .content {
            margin: 0 auto;
            max-width: 850px;
        }
        
    }
    
    /* Entries */
    
    .entry-title,
    .page-title {
        
        font-size: 4.8rem;
    }
    
    .entry-meta {
        
        font-size: 1.6rem;
    }
    
    /* Comments */
    
    .comment {
        padding: var(--odc-spacer-md);
    }

    /* Footer
    --------------------------------------------- */
    
    .footer-widgets {
        padding: var(--odc-spacer-lg) 0;
    
        .wrap {
            grid-gap: var(--odc-spacer-lg);
            grid-template-columns: 1fr 1fr 1fr;
            
        }
        
    }

    /* Home Page
    --------------------------------------------- */
}