/* Small Tablet / Large Phone Styles
---------------------------------------------------------------------------------------------------- */

@media (min-width: 768px) {
    
    /* Containers & General Styles
    --------------------------------------------- */
    
    .site-inner {
        margin: 45px auto;
    }

    /* Header
    --------------------------------------------- */
    
    .superheader {
        font-size: 14px;
        font-size: 1.4rem;
    }
    
    .site-header {
        padding: 30px 0;
    }
    
    .site-title {
        font-size: 50px;
        font-size: 5rem;
    }
    
    .mobile-nav {
        width: 33.333%;
    }

    /* Body
    --------------------------------------------- */
    
    /* Entries */
    
    .entry-title,
    .page-title {
        font-size: 38px;
        font-size: 3.8rem;
    }
    
    /* Comments */
    
    .comment {
        padding: 15px;
    }

    /* Footer
    --------------------------------------------- */
   
    
    /* Home Page
    --------------------------------------------- */

    
}

@media (min-width: 780px) {
    
    .admin-bar .mobile-nav {
        top: 32px;
    }
    
}