/* Small Tablet / Large Phone Styles
---------------------------------------------------------------------------------------------------- */

@media (min-width: 768px) {
    
    /* Containers & General Styles
    --------------------------------------------- */
    
    
    /* Header
    --------------------------------------------- */
    
    .top-bar {
        
        font-size: 1.4rem;
    }
    
    .site-title {
        font-size: 5rem;
    }
    
    .mobile-nav {
        width: 40%;
    }

    /* Body
    --------------------------------------------- */
    
    /* Entries */
    
    .entry-title,
    .page-title {
        font-size: 3.8rem;
    }
    
    /* Comments */
    
    .comment {
        padding: var(--odc-spacer-sm);
    }

    /* Footer
    --------------------------------------------- */
   
    
    /* Home Page
    --------------------------------------------- */

    
}

@media (min-width: 780px) {
    
    .admin-bar .mobile-nav {
        top: 32px;
    }
    
}